StewardBankSmallWorldWSDL/SimpleTransactionExportService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.ie.smallworldfs.com/" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://webservice.ie.smallworldfs.com/">
<xsd:element ibmSchExtn:docRoot="true" name="WebServiceException" nillable="true" type="tns:faultBean"/>
<xsd:element ibmSchExtn:docRoot="true" name="WebServiceValidationException" nillable="true" type="tns:validationFaultBean"/>
<xsd:element ibmSchExtn:docRoot="true" name="acknowledgeTransactionExport" type="tns:acknowledgeTransactionExport"/>
<xsd:element ibmSchExtn:docRoot="true" name="acknowledgeTransactionExportResponse" type="tns:acknowledgeTransactionExportResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="acknowledgeTransactionsExport" type="tns:acknowledgeTransactionsExport"/>
<xsd:element ibmSchExtn:docRoot="true" name="acknowledgeTransactionsExportResponse" type="tns:acknowledgeTransactionsExportResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="addTransactionNote" type="tns:addTransactionNote"/>
<xsd:element ibmSchExtn:docRoot="true" name="addTransactionNoteResponse" type="tns:addTransactionNoteResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="getMtnByFolio" type="tns:getMtnByFolio"/>
<xsd:element ibmSchExtn:docRoot="true" name="getMtnByFolioResponse" type="tns:getMtnByFolioResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="getTransactionExportByMtn" type="tns:getTransactionExportByMtn"/>
<xsd:element ibmSchExtn:docRoot="true" name="getTransactionExportByMtnResponse" type="tns:getTransactionExportByMtnResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="getTransactionExportTransactions" type="tns:getTransactionExportTransactions"/>
<xsd:element ibmSchExtn:docRoot="true" name="getTransactionExportTransactionsResponse" type="tns:getTransactionExportTransactionsResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="payoutPickupAnywhereTransaction" type="tns:payoutPickupAnywhereTransaction"/>
<xsd:element ibmSchExtn:docRoot="true" name="payoutPickupAnywhereTransactionResponse" type="tns:payoutPickupAnywhereTransactionResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="updateTransactionExport" type="tns:updateTransactionExport"/>
<xsd:element ibmSchExtn:docRoot="true" name="updateTransactionExportResponse" type="tns:updateTransactionExportResponse"/>
<xsd:element ibmSchExtn:docRoot="true" name="updateTransactionsExport" type="tns:updateTransactionsExport"/>
<xsd:element ibmSchExtn:docRoot="true" name="updateTransactionsExportResponse" type="tns:updateTransactionsExportResponse"/>
<xsd:complexType name="addTransactionNote">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:long"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg3" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="addTransactionNoteResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="faultBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="validationFaultBean">
<xsd:complexContent>
<xsd:extension base="tns:faultBean">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="validationErrors" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="validationWarnings" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="updateTransactionsExport">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="arg0" nillable="true" type="tns:transactionExportConfirmation"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transactionExportConfirmation">
<xsd:sequence>
<xsd:element minOccurs="0" name="eventDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="message" type="xsd:string"/>
<xsd:element minOccurs="0" name="mtn" type="xsd:long"/>
<xsd:element minOccurs="0" name="payoutDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="processedSuccessfully" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="reference" type="xsd:string"/>
<xsd:element minOccurs="0" name="statusCode" type="tns:transactionExportStatusCode"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateTransactionsExportResponse">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:transactionExportConfirmation"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateTransactionExport">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="tns:transactionExportConfirmation"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateTransactionExportResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTransactionExportByMtn">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:long"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:int"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg3" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg4" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg5" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTransactionExportByMtnResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="tns:transactionExport"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transactionExport">
<xsd:complexContent>
<xsd:extension base="tns:baseTransaction">
<xsd:sequence>
<xsd:element minOccurs="0" name="agentName" type="xsd:string"/>
<xsd:element minOccurs="0" name="amountOwed" type="xsd:double"/>
<xsd:element minOccurs="0" name="deliveryFee" type="xsd:double"/>
<xsd:element minOccurs="0" name="otherFee" type="xsd:double"/>
<xsd:element minOccurs="0" name="payerReference" type="xsd:string"/>
<xsd:element minOccurs="0" name="rate" type="xsd:double"/>
<xsd:element minOccurs="0" name="settlementAmount" type="xsd:double"/>
<xsd:element minOccurs="0" name="settlementCurrency" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="baseTransaction">
<xsd:complexContent>
<xsd:extension base="tns:webServiceObject">
<xsd:sequence>
<xsd:element minOccurs="0" name="agentCode" type="xsd:int"/>
<xsd:element minOccurs="0" name="beneficiary" type="tns:transactionImportClient"/>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="deliveryMethod" type="tns:deliveryMethod"/>
<xsd:element minOccurs="0" name="fixedFee" type="xsd:double"/>
<xsd:element minOccurs="0" name="folioNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="mtn" type="xsd:long"/>
<xsd:element minOccurs="0" name="payerLocationCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="payerMtn" type="xsd:int"/>
<xsd:element minOccurs="0" name="payoutCountry" type="xsd:string"/>
<xsd:element minOccurs="0" name="payoutCurrency" type="xsd:string"/>
<xsd:element minOccurs="0" name="payoutDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="payoutPrincipal" type="xsd:double"/>
<xsd:element minOccurs="0" name="pinNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="promotionAmount" type="xsd:double"/>
<xsd:element minOccurs="0" name="promotionName" type="xsd:string"/>
<xsd:element minOccurs="0" name="promotionNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="sender" type="tns:transactionImportClient"/>
<xsd:element minOccurs="0" name="sendingCountry" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceMessage" type="xsd:string"/>
<xsd:element minOccurs="0" name="totalSale" type="xsd:double"/>
<xsd:element minOccurs="0" name="variableFee" type="xsd:double"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="webServiceObject">
<xsd:sequence>
<xsd:element minOccurs="0" name="companyPassword" type="xsd:string"/>
<xsd:element minOccurs="0" name="companyUserName" type="xsd:string"/>
<xsd:element minOccurs="0" name="server" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transactionImportClient">
<xsd:complexContent>
<xsd:extension base="tns:baseTransactionImportClient">
<xsd:sequence>
<xsd:element minOccurs="0" name="addressOtherInfo" type="xsd:string"/>
<xsd:element minOccurs="0" name="buildingName" type="xsd:string"/>
<xsd:element minOccurs="0" name="cityOfBirth" type="xsd:string"/>
<xsd:element minOccurs="0" name="countryOfBirth" type="xsd:string"/>
<xsd:element minOccurs="0" name="dateOfBirth" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="employeeType" type="tns:employeeType"/>
<xsd:element minOccurs="0" name="employerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="employerOriginalId" type="xsd:int"/>
<xsd:element minOccurs="0" name="firstLastName" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
<xsd:element minOccurs="0" name="gender" type="tns:gender"/>
<xsd:element minOccurs="0" name="idExpirationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="idIssueCountry" type="xsd:string"/>
<xsd:element minOccurs="0" name="idIssueDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="idIssueState" type="xsd:string"/>
<xsd:element minOccurs="0" name="idIssuedBy" type="xsd:string"/>
<xsd:element minOccurs="0" name="idNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="idType" type="tns:idType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ids" nillable="true" type="tns:transactionImportClientId"/>
<xsd:element minOccurs="0" name="nationality" type="xsd:string"/>
<xsd:element minOccurs="0" name="secondLastName" type="xsd:string"/>
<xsd:element minOccurs="0" name="secondName" type="xsd:string"/>
<xsd:element minOccurs="0" name="stateOfBirth" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" type="tns:clientStatus"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="baseTransactionImportClient">
<xsd:sequence>
<xsd:element minOccurs="0" name="address" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankAccountNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankAccountType" type="tns:bankAccountType"/>
<xsd:element minOccurs="0" name="bankBic" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankBranchCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankBranchId" type="xsd:int"/>
<xsd:element minOccurs="0" name="bankBranchName" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankIban" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankId" type="xsd:int"/>
<xsd:element minOccurs="0" name="bankName" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankRoutingNumber" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="banks" nillable="true" type="tns:transactionImportClientBank"/>
<xsd:element minOccurs="0" name="changeDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="city" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientId" type="xsd:int"/>
<xsd:element minOccurs="0" name="country" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobilePhoneCountry" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobilePhoneNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="occupationId" type="xsd:short"/>
<xsd:element minOccurs="0" name="originalId" type="xsd:int"/>
<xsd:element minOccurs="0" name="phoneCountry" type="xsd:string"/>
<xsd:element minOccurs="0" name="phoneNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="providerLocationCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="providerRepCode" type="xsd:int"/>
<xsd:element minOccurs="0" name="ssn" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" type="xsd:string"/>
<xsd:element minOccurs="0" name="streetName" type="xsd:string"/>
<xsd:element minOccurs="0" name="streetNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="streetType" type="tns:streetType"/>
<xsd:element minOccurs="0" name="taxCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" type="tns:clientType"/>
<xsd:element minOccurs="0" name="zip" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transactionImportClientId">
<xsd:sequence>
<xsd:element minOccurs="0" name="changeDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="clientIdId" type="xsd:int"/>
<xsd:element minOccurs="0" name="idExpirationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="idIssueCountry" type="xsd:string"/>
<xsd:element minOccurs="0" name="idIssueDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="idIssueState" type="xsd:string"/>
<xsd:element minOccurs="0" name="idIssuedBy" type="xsd:string"/>
<xsd:element minOccurs="0" name="idNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="idType" type="tns:idType"/>
<xsd:element minOccurs="0" name="originalId" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transactionImportClientBank">
<xsd:sequence>
<xsd:element minOccurs="0" name="bankAccountNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankAccountPrefix" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankAccountType" type="tns:bankAccountType"/>
<xsd:element minOccurs="0" name="bankBic" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankBranchCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankBranchId" type="xsd:int"/>
<xsd:element minOccurs="0" name="bankBranchName" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankIban" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankId" type="xsd:int"/>
<xsd:element minOccurs="0" name="bankName" type="xsd:string"/>
<xsd:element minOccurs="0" name="bankRoutingNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="changeDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="clientBankId" type="xsd:int"/>
<xsd:element minOccurs="0" name="originalId" type="xsd:int"/>
<xsd:element minOccurs="0" name="providerLocationCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="providerRepCode" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="acknowledgeTransactionExport">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="acknowledgeTransactionExportResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="payoutPickupAnywhereTransaction">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:long"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg3" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="arg4" type="xsd:int"/>
<xsd:element minOccurs="0" name="arg5" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg6" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg7" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg8" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="payoutPickupAnywhereTransactionResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="tns:transactionExport"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getMtnByFolio">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getMtnByFolioResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTransactionExportTransactions">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="tns:transactionExportTransactionType"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTransactionExportTransactionsResponse">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:transactionExport"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="acknowledgeTransactionsExport">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="arg2" nillable="true" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="acknowledgeTransactionsExportResponse">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="transactionExportStatusCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="AB"/>
<xsd:enumeration value="AC"/>
<xsd:enumeration value="AH"/>
<xsd:enumeration value="AP"/>
<xsd:enumeration value="AV"/>
<xsd:enumeration value="BF"/>
<xsd:enumeration value="BP"/>
<xsd:enumeration value="CB"/>
<xsd:enumeration value="CC"/>
<xsd:enumeration value="CD"/>
<xsd:enumeration value="CE"/>
<xsd:enumeration value="CH"/>
<xsd:enumeration value="CI"/>
<xsd:enumeration value="CM"/>
<xsd:enumeration value="CN"/>
<xsd:enumeration value="CO"/>
<xsd:enumeration value="CP"/>
<xsd:enumeration value="CR"/>
<xsd:enumeration value="CS"/>
<xsd:enumeration value="CT"/>
<xsd:enumeration value="CY"/>
<xsd:enumeration value="DD"/>
<xsd:enumeration value="DP"/>
<xsd:enumeration value="EL"/>
<xsd:enumeration value="IA"/>
<xsd:enumeration value="IB"/>
<xsd:enumeration value="IC"/>
<xsd:enumeration value="ID"/>
<xsd:enumeration value="IH"/>
<xsd:enumeration value="II"/>
<xsd:enumeration value="IM"/>
<xsd:enumeration value="IO"/>
<xsd:enumeration value="IR"/>
<xsd:enumeration value="IU"/>
<xsd:enumeration value="LF"/>
<xsd:enumeration value="LM"/>
<xsd:enumeration value="MA"/>
<xsd:enumeration value="MR"/>
<xsd:enumeration value="MT"/>
<xsd:enumeration value="NA"/>
<xsd:enumeration value="NB"/>
<xsd:enumeration value="NI"/>
<xsd:enumeration value="NP"/>
<xsd:enumeration value="NR"/>
<xsd:enumeration value="OC"/>
<xsd:enumeration value="OD"/>
<xsd:enumeration value="PD"/>
<xsd:enumeration value="PJ"/>
<xsd:enumeration value="PP"/>
<xsd:enumeration value="PR"/>
<xsd:enumeration value="PW"/>
<xsd:enumeration value="RC"/>
<xsd:enumeration value="RJ"/>
<xsd:enumeration value="RP"/>
<xsd:enumeration value="TN"/>
<xsd:enumeration value="TS"/>
<xsd:enumeration value="WA"/>
<xsd:enumeration value="WB"/>
<xsd:enumeration value="WC"/>
<xsd:enumeration value="WD"/>
<xsd:enumeration value="WF"/>
<xsd:enumeration value="WI"/>
<xsd:enumeration value="WL"/>
<xsd:enumeration value="WO"/>
<xsd:enumeration value="WP"/>
<xsd:enumeration value="WR"/>
<xsd:enumeration value="WS"/>
<xsd:enumeration value="WT"/>
<xsd:enumeration value="XA"/>
<xsd:enumeration value="XX"/>
<xsd:enumeration value="YP"/>
<xsd:enumeration value="OR"/>
<xsd:enumeration value="BC"/>
<xsd:enumeration value="BR"/>
<xsd:enumeration value="CA"/>
<xsd:enumeration value="IF"/>
<xsd:enumeration value="XI"/>
<xsd:enumeration value="GE"/>
<xsd:enumeration value="C"/>
<xsd:enumeration value="A"/>
<xsd:enumeration value="PAI"/>
<xsd:enumeration value="ANL"/>
<xsd:enumeration value="EDL"/>
<xsd:enumeration value="DLR"/>
<xsd:enumeration value="TB"/>
<xsd:enumeration value="AN"/>
<xsd:enumeration value="UP"/>
<xsd:enumeration value="CRP"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="employeeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OWNER"/>
<xsd:enumeration value="CHIEF"/>
<xsd:enumeration value="MANAGEMENT"/>
<xsd:enumeration value="STAFF"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="gender">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="FEMALE"/>
<xsd:enumeration value="MALE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="idType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PASSPORT"/>
<xsd:enumeration value="DRIVERS_LICENSE"/>
<xsd:enumeration value="ALIENCARD"/>
<xsd:enumeration value="CEDULA"/>
<xsd:enumeration value="STATE_IDENTIFICATION"/>
<xsd:enumeration value="NATURALIZATION"/>
<xsd:enumeration value="OTHER"/>
<xsd:enumeration value="CREDIT_CARD"/>
<xsd:enumeration value="TAXID"/>
<xsd:enumeration value="VOTER_REGISTRATION"/>
<xsd:enumeration value="EIN"/>
<xsd:enumeration value="DNI"/>
<xsd:enumeration value="PASSPORT_FOREIGN"/>
<xsd:enumeration value="IMMIGRATION_PASS"/>
<xsd:enumeration value="CIF"/>
<xsd:enumeration value="CERTIFICATE_INDIAN_STATUS"/>
<xsd:enumeration value="FOREIGN_CONSULAR_ID_CARD"/>
<xsd:enumeration value="FOREIGN_NATIONAL_ID_CARD"/>
<xsd:enumeration value="PROVINCIAL_TERRITORIAL_HEALTH_CARD"/>
<xsd:enumeration value="PROVINCIAL_IDENTIFICATION_CARD"/>
<xsd:enumeration value="QUEBEC_HEALTH_CARD"/>
<xsd:enumeration value="REGISTRATION_CARD"/>
<xsd:enumeration value="NATIONAL_ID_CARD"/>
<xsd:enumeration value="LMA_CARD"/>
<xsd:enumeration value="PERMANENT_REGISTRATION_CARD"/>
<xsd:enumeration value="ORANGE_CARD"/>
<xsd:enumeration value="F_N_PERMIT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="clientStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="UNDER_REVIEW"/>
<xsd:enumeration value="APPROVED"/>
<xsd:enumeration value="EXPIRED"/>
<xsd:enumeration value="SUSPENDED"/>
<xsd:enumeration value="DECLINED"/>
<xsd:enumeration value="INACTIVE"/>
<xsd:enumeration value="GDPR_BLOCKED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="bankAccountType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="CASHCARD"/>
<xsd:enumeration value="CHECKING"/>
<xsd:enumeration value="MOBILE"/>
<xsd:enumeration value="OTHER"/>
<xsd:enumeration value="SAVINGS"/>
<xsd:enumeration value="DEBITCARD"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="streetType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="AVENUE"/>
<xsd:enumeration value="STREET"/>
<xsd:enumeration value="ROAD"/>
<xsd:enumeration value="ROUNDABOUT"/>
<xsd:enumeration value="POLYGON"/>
<xsd:enumeration value="WALK"/>
<xsd:enumeration value="PLAZA"/>
<xsd:enumeration value="ROUND"/>
<xsd:enumeration value="crossing"/>
<xsd:enumeration value="COMPLEX"/>
<xsd:enumeration value="VIA"/>
<xsd:enumeration value="VILLAGE"/>
<xsd:enumeration value="APARTMENT"/>
<xsd:enumeration value="BLOCK"/>
<xsd:enumeration value="BARRIO"/>
<xsd:enumeration value="CHALET"/>
<xsd:enumeration value="PATH"/>
<xsd:enumeration value="COLOGNE"/>
<xsd:enumeration value="CASERIO"/>
<xsd:enumeration value="COST"/>
<xsd:enumeration value="BUILDING"/>
<xsd:enumeration value="GROUP"/>
<xsd:enumeration value="PLACE"/>
<xsd:enumeration value="MARKET"/>
<xsd:enumeration value="MUNICIPALITY"/>
<xsd:enumeration value="APPLE"/>
<xsd:enumeration value="TOWN"/>
<xsd:enumeration value="PASSAGE"/>
<xsd:enumeration value="PARK"/>
<xsd:enumeration value="EXTENSION"/>
<xsd:enumeration value="RAMBLA"/>
<xsd:enumeration value="PO_BOX"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="clientType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="INDIVIDUAL"/>
<xsd:enumeration value="COMPANY"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="deliveryMethod">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PICK_UP"/>
<xsd:enumeration value="BANK_DEPOSIT"/>
<xsd:enumeration value="PHYSICAL_DELIVERY"/>
<xsd:enumeration value="ON_CALL"/>
<xsd:enumeration value="CASH_CARD_RELOAD"/>
<xsd:enumeration value="CASH_CARD_APP_PICK_UP"/>
<xsd:enumeration value="CASH_CARD_APP_PHYSICAL_DELIVERY"/>
<xsd:enumeration value="MOBILE_WALLET"/>
<xsd:enumeration value="MOBILE_TOP_UP"/>
<xsd:enumeration value="TEST_QUESTION"/>
<xsd:enumeration value="FIXED_AMOUNT"/>
<xsd:enumeration value="CASH_FOR_GOODS"/>
<xsd:enumeration value="ATM"/>
<xsd:enumeration value="BILL_PAYMENT"/>
<xsd:enumeration value="ACCOUNT_OPENING"/>
<xsd:enumeration value="INSTANT_BANK_DEPOSIT"/>
<xsd:enumeration value="JOLLI_BEE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="transactionExportTransactionType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NEW"/>
<xsd:enumeration value="VOID"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>