StewardBankSmallWorldWSDL/SimpleTransactionExportService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="SimpleTransactionExportService" targetNamespace="http://webservice.ie.smallworldfs.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ie.smallworldfs.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="SimpleTransactionExportServicePortBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.ie.smallworldfs.com/" schemaLocation="SimpleTransactionExportService_schema1.xsd"/>
</xsd:schema>
</types>
<message name="addTransactionNoteResponse">
<part element="tns:addTransactionNoteResponse" name="parameters"> </part>
</message>
<message name="acknowledgeTransactionsExport">
<part element="tns:acknowledgeTransactionsExport" name="parameters"> </part>
</message>
<message name="getMtnByFolioResponse">
<part element="tns:getMtnByFolioResponse" name="parameters"> </part>
</message>
<message name="updateTransactionsExportResponse">
<part element="tns:updateTransactionsExportResponse" name="parameters"> </part>
</message>
<message name="updateTransactionExportResponse">
<part element="tns:updateTransactionExportResponse" name="parameters"> </part>
</message>
<message name="WebServiceException">
<part element="tns:WebServiceException" name="fault"> </part>
</message>
<message name="payoutPickupAnywhereTransactionResponse">
<part element="tns:payoutPickupAnywhereTransactionResponse" name="parameters"> </part>
</message>
<message name="WebServiceValidationException">
<part element="tns:WebServiceValidationException" name="fault"> </part>
</message>
<message name="acknowledgeTransactionExport">
<part element="tns:acknowledgeTransactionExport" name="parameters"> </part>
</message>
<message name="acknowledgeTransactionExportResponse">
<part element="tns:acknowledgeTransactionExportResponse" name="parameters"> </part>
</message>
<message name="getTransactionExportTransactions">
<part element="tns:getTransactionExportTransactions" name="parameters"> </part>
</message>
<message name="getTransactionExportTransactionsResponse">
<part element="tns:getTransactionExportTransactionsResponse" name="parameters"> </part>
</message>
<message name="getMtnByFolio">
<part element="tns:getMtnByFolio" name="parameters"> </part>
</message>
<message name="getTransactionExportByMtnResponse">
<part element="tns:getTransactionExportByMtnResponse" name="parameters"> </part>
</message>
<message name="payoutPickupAnywhereTransaction">
<part element="tns:payoutPickupAnywhereTransaction" name="parameters"> </part>
</message>
<message name="updateTransactionExport">
<part element="tns:updateTransactionExport" name="parameters"> </part>
</message>
<message name="updateTransactionsExport">
<part element="tns:updateTransactionsExport" name="parameters"> </part>
</message>
<message name="addTransactionNote">
<part element="tns:addTransactionNote" name="parameters"> </part>
</message>
<message name="acknowledgeTransactionsExportResponse">
<part element="tns:acknowledgeTransactionsExportResponse" name="parameters"> </part>
</message>
<message name="getTransactionExportByMtn">
<part element="tns:getTransactionExportByMtn" name="parameters"> </part>
</message>
<portType name="SimpleTransactionExportServiceDelegate">
<operation name="acknowledgeTransactionsExport">
<input message="tns:acknowledgeTransactionsExport" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionsExportRequest"> </input>
<output message="tns:acknowledgeTransactionsExportResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionsExportResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionsExport/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionsExport/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="updateTransactionsExport">
<input message="tns:updateTransactionsExport" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionsExportRequest"> </input>
<output message="tns:updateTransactionsExportResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionsExportResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionsExport/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionsExport/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="getMtnByFolio">
<input message="tns:getMtnByFolio" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getMtnByFolioRequest"> </input>
<output message="tns:getMtnByFolioResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getMtnByFolioResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getMtnByFolio/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getMtnByFolio/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="getTransactionExportByMtn">
<input message="tns:getTransactionExportByMtn" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportByMtnRequest"> </input>
<output message="tns:getTransactionExportByMtnResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportByMtnResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportByMtn/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportByMtn/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="getTransactionExportTransactions">
<input message="tns:getTransactionExportTransactions" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportTransactionsRequest"> </input>
<output message="tns:getTransactionExportTransactionsResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportTransactionsResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportTransactions/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/getTransactionExportTransactions/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="addTransactionNote">
<input message="tns:addTransactionNote" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/addTransactionNoteRequest"> </input>
<output message="tns:addTransactionNoteResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/addTransactionNoteResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/addTransactionNote/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/addTransactionNote/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="acknowledgeTransactionExport">
<input message="tns:acknowledgeTransactionExport" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionExportRequest"> </input>
<output message="tns:acknowledgeTransactionExportResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionExportResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionExport/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/acknowledgeTransactionExport/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="payoutPickupAnywhereTransaction">
<input message="tns:payoutPickupAnywhereTransaction" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/payoutPickupAnywhereTransactionRequest"> </input>
<output message="tns:payoutPickupAnywhereTransactionResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/payoutPickupAnywhereTransactionResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/payoutPickupAnywhereTransaction/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/payoutPickupAnywhereTransaction/Fault/WebServiceValidationException"> </fault>
</operation>
<operation name="updateTransactionExport">
<input message="tns:updateTransactionExport" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionExportRequest"> </input>
<output message="tns:updateTransactionExportResponse" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionExportResponse"> </output>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionExport/Fault/WebServiceException"> </fault>
<fault message="tns:WebServiceValidationException" name="WebServiceValidationException" wsam:Action="http://webservice.ie.smallworldfs.com/SimpleTransactionExportServiceDelegate/updateTransactionExport/Fault/WebServiceValidationException"> </fault>
</operation>
</portType>
<binding name="SimpleTransactionExportServicePortBinding" type="tns:SimpleTransactionExportServiceDelegate">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="acknowledgeTransactionsExport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="updateTransactionsExport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="getMtnByFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="getTransactionExportByMtn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="getTransactionExportTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="addTransactionNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="acknowledgeTransactionExport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="payoutPickupAnywhereTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
<operation name="updateTransactionExport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
<fault name="WebServiceValidationException">
<soap:fault name="WebServiceValidationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SimpleTransactionExportService">
<port binding="tns:SimpleTransactionExportServicePortBinding" name="SimpleTransactionExportServicePort">
<soap:address location="https://ua.oswfs.com/ImportExport/SimpleTransactionExportService"/>
</port>
</service>
</definitions>