StewardBankIndigoApp/RemoteFiles/xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/JSLCARDACCT" version="1.0">

<xsd:complexType name="JSLCARDACCTType">
<xsd:sequence>
<xsd:element minOccurs="0" name="gJSLCARDACCTDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mJSLCARDACCTDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ResponseCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="CustomerID" type="xsd:string"/>
<xsd:element minOccurs="0" name="CustomerName" type="xsd:string"/>
<xsd:element minOccurs="0" name="Addrline1" type="xsd:string"/>
<xsd:element minOccurs="0" name="AddressLine2" type="xsd:string"/>
<xsd:element minOccurs="0" name="City" type="xsd:string"/>
<xsd:element minOccurs="0" name="StateCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="PostalCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="CustomerPhoneNo" type="xsd:string"/>
<xsd:element minOccurs="0" name="AccountType" type="xsd:string"/>
<xsd:element minOccurs="0" name="AccountCurrency" type="xsd:string"/>
<xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="DOB" type="xsd:string"/>
<xsd:element minOccurs="0" name="LEGALID" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>