StewardBankIndigoApp/RemoteFiles/xsd_8.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/ACCOUNT" version="1.0">

<xsd:complexType name="ACCOUNTType">
<xsd:sequence>
<xsd:element minOccurs="0" name="CUSTOMER" type="xsd:string"/>
<xsd:element minOccurs="0" name="CATEGORY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gACCOUNTTITLE1">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCOUNTTITLE1" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCOUNTTITLE2">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCOUNTTITLE2" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gSHORTTITLE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SHORTTITLE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="MNEMONIC" type="xsd:string"/>
<xsd:element minOccurs="0" name="POSITIONTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCYMARKET" type="xsd:string"/>
<xsd:element minOccurs="0" name="LIMITREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCOUNTOFFICER" type="xsd:string"/>
<xsd:element minOccurs="0" name="gOTHEROFFICER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OTHEROFFICER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gPOSTINGRESTRICT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="POSTINGRESTRICT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RECONCILEACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTERESTLIQUACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTERESTCOMPACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTNOBOOKING" type="xsd:string"/>
<xsd:element minOccurs="0" name="gREFERALCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="REFERALCODE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="WAIVELEDGERFEE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CONDITIONGROUP" type="xsd:string"/>
<xsd:element minOccurs="0" name="INACTIVMARKER" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPENACTUALBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPENCLEAREDBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="ONLINEACTUALBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="ONLINECLEAREDBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="WORKINGBALANCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTCRCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMNTLASTCRCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANLASTCRCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTCRAUTO" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMNTLASTCRAUTO" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANLASTCRAUTO" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTCRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMNTLASTCRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANLASTCRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTDRCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMNTLASTDRCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANLASTDRCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTDRAUTO" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMNTLASTDRAUTO" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANLASTDRAUTO" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTDRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMNTLASTDRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANLASTDRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="gCAPDATECHARGE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAPDATECHARGE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gCAPDATECRINT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAPDATECRINT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gCAPDATEC2INT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAPDATEC2INT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gCAPDATEDRINT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAPDATEDRINT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gCAPDATED2INT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAPDATED2INT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CAPBACKVALUE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gACCRCHGCATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mACCRCHGCATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCRCHGCATEG" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCHGTRANS" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCHGAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCHGSUSP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCRCRCATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mACCRCRCATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCRCRCATEG" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCRTRANS" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCRAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCRSUSP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCRCR2CATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mACCRCR2CATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCRCR2CATEG" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCR2TRANS" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCR2AMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRCR2SUSP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCRDRCATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mACCRDRCATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCRDRCATEG" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRDRTRANS" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRDRAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRDRSUSP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCRDR2CATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mACCRDR2CATEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCRDR2CATEG" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRDR2TRANS" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRDR2AMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCRDR2SUSP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CONSOLKEY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINTLIQUTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mINTLIQUTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="INTLIQUTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTLIQUACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTLIQCCY" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="PASSBOOK" type="xsd:string"/>
<xsd:element minOccurs="0" name="STARTYEARBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPENINGDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gVALUEDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mVALUEDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="VALUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITMOVEMENT" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITMOVEMENT" type="xsd:string"/>
<xsd:element minOccurs="0" name="VALUEDATEDBAL" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CONTINGENTBALCR" type="xsd:string"/>
<xsd:element minOccurs="0" name="CONTINGENTBALDR" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPENCATEGORY" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPENVALDATEDBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="gACCTCREDITINT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCTCREDITINT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCTDEBITINT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCTDEBITINT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="LINKTOLIMIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CLOSUREDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCKEDWITHLIMIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGECCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEMKT" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTERESTCCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTERESTMKT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CONCHARGEACCR" type="xsd:string"/>
<xsd:element minOccurs="0" name="CONINTERESTACCR" type="xsd:string"/>
<xsd:element minOccurs="0" name="gALTACCTTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mALTACCTTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ALTACCTTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ALTACCTID" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gPREMIUMTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mPREMIUMTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="PREMIUMTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgCAPDATEPRM">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAPDATEPRM">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="CAPDATEPRM" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="PREMIUMFREQ" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="APR" type="xsd:string"/>
<xsd:element minOccurs="0" name="gJOINTHOLDER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mJOINTHOLDER">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="JOINTHOLDER" type="xsd:string"/>
<xsd:element minOccurs="0" name="RELATIONCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgJOINTNOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="JOINTNOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="JOINTNOTES" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ALLOWNETTING" type="xsd:string"/>
<xsd:element minOccurs="0" name="gLEDGRECOWITH">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="LEDGRECOWITH" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gSTMTRECOWITH">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="STMTRECOWITH" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="OUREXTACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="RECOTOLERANCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gPENDINGID">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mPENDINGID">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="PENDINGID" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTALPENDING" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="STOCKCONTROLTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="SERIALNOFORMAT" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUTOPAYACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ORIGCCYPAYMENT" type="xsd:string"/>
<xsd:element minOccurs="0" name="gAUTORECCCY">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AUTORECCCY" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gORIGINALACCT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ORIGINALACCT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gFROMDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mFROMDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="FROMDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCKEDAMOUNT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="DISPOOFFICER" type="xsd:string"/>
<xsd:element minOccurs="0" name="DISPOEXEMPT" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXSUSPEND" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXATSETTLE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICAMAINACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICADISTRIBRATIO" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICAMAINACCTIND" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICADISTRIBTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICAPOSTINTEREST" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICAMAINRATIO" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICANEWMAINACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICASTARTDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICAADDREMOVE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICABACKVALUE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gICAMAINACCT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mICAMAINACCT">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ICAMAINACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICAMAINDATE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="LIQUIDATIONMODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="OVERDUESTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="HVTFLAG" type="xsd:string"/>
<xsd:element minOccurs="0" name="SINGLELIMIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CONTINGENTINT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ALLINONEPRODUCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="gERVALUEDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mERVALUEDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ERVALUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ERBALANCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="EPBALANCE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="SBGROUPID" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPENAVAILABLEBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="gAVAILABLEDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mAVAILABLEDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="AVAILABLEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AVAUTHDBMVMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="AVNAUDBMVMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="AVAUTHCRMVMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="AVNAUCRMVMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="AVAILABLEBAL" type="xsd:string"/>
<xsd:element minOccurs="0" name="FORWARDMVMTS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CREDITCHECK" type="xsd:string"/>
<xsd:element minOccurs="0" name="AVAILABLEBALUPD" type="xsd:string"/>
<xsd:element minOccurs="0" name="CONSOLIDATEENT" type="xsd:string"/>
<xsd:element minOccurs="0" name="MAXSUBACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="MASTERACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCKINCTHISMVMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CLOSEDONLINE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NEXTAFDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NEXTACCTCAP" type="xsd:string"/>
<xsd:element minOccurs="0" name="NEXTEXPDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATELASTUPDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gNEXTSTMTDATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NEXTSTMTDATE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gEXPOSUREDATES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="EXPOSUREDATES" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gPORTFOLIONO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="PORTFOLIONO" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="SHADOWACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="gFWDENTRYHOLD">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="FWDENTRYHOLD" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="FIRSTAFDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gCASHPOOLGROUP">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CASHPOOLGROUP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="OPENASSETTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LASTCOMCHGDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICCHARGEID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICNEXTCAPDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gICPRODUCT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mICPRODUCT">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ICPRODUCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ICLSTPRODCAP" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ARRANGEMENTID" type="xsd:string"/>
<xsd:element minOccurs="0" name="gACCDEBLIMIT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCDEBLIMIT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gMANDATEAPPL">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mMANDATEAPPL">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="MANDATEAPPL" type="xsd:string"/>
<xsd:element minOccurs="0" name="MANDATEREG" type="xsd:string"/>
<xsd:element minOccurs="0" name="MANDATERECORD" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="DRADJAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="DR2ADJAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CRADJAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CR2ADJAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="gEVENT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mEVENT">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="EVENT" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgFIELD">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="FIELD">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="FIELD" type="xsd:string"/>
<xsd:element minOccurs="0" name="OPERAND" type="xsd:string"/>
<xsd:element minOccurs="0" name="VALUE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="MVALERTRES6" type="xsd:string"/>
<xsd:element minOccurs="0" name="MVALERTRES5" type="xsd:string"/>
<xsd:element minOccurs="0" name="MVALERTRES4" type="xsd:string"/>
<xsd:element minOccurs="0" name="MVALERTRES3" type="xsd:string"/>
<xsd:element minOccurs="0" name="MVALERTRES2" type="xsd:string"/>
<xsd:element minOccurs="0" name="MVALERTRES1" type="xsd:string"/>
<xsd:element minOccurs="0" name="REQUESTID" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ACCOUNTINGCOMPANY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gREFDATAITEM">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mREFDATAITEM">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="REFDATAITEM" type="xsd:string"/>
<xsd:element minOccurs="0" name="REFDATAVALUE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CLOSUREREASON" type="xsd:string"/>
<xsd:element minOccurs="0" name="gLLCLOSURENOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mLLCLOSURENOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="sgLLCLOSURENOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CLOSURENOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="CLOSURENOTES" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="SAMIDHIST" type="xsd:string"/>
<xsd:element minOccurs="0" name="PARENTACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="MULTICURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="EXTERNALPOSTING" type="xsd:string"/>
<xsd:element minOccurs="0" name="PARENTBVDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ALLOWEDBVDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="SECONDARYLIMITAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITCHKTXNTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITCHKCONDITION" type="xsd:string"/>
<xsd:element minOccurs="0" name="BALANCECONVERSIONMKT" type="xsd:string"/>
<xsd:element minOccurs="0" name="LIMITKEY" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED29" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED28" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED27" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED26" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED25" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED24" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED23" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED22" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED21" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED20" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED19" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED18" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED17" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED16" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED15" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED14" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED13" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED12" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED11" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED10" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED9" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED8" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED7" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED6" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED5" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED4" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED3" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED1" type="xsd:string"/>
<xsd:element minOccurs="0" name="gOVERRIDE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINPUTTER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUTTER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gDATETIME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
<xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
<xsd:element minOccurs="0" name="WELCOMEPACK" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITCARD" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>