StewardBankIndigoApp/RemoteFiles/xsd_7.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/ACCOUNTCARDAMEND" version="1.0">

<xsd:complexType name="ACCOUNTCARDAMENDType">
<xsd:sequence>
<xsd:element minOccurs="0" name="CustomerId" type="xsd:string"/>
<xsd:element minOccurs="0" name="ProductCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="gACCOUNTTITLE1">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AccountName1" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCOUNTTITLE2">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AccountName2" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gSHORTTITLE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ShortName" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="Mnemonic" type="xsd:string"/>
<xsd:element minOccurs="0" name="Currency" type="xsd:string"/>
<xsd:element minOccurs="0" name="AccountOfficer" type="xsd:string"/>
<xsd:element minOccurs="0" name="gOTHEROFFICER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherOfficer" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="WaiveLedgerFee" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINTLIQUTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mINTLIQUTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="IntLiquidationType" type="xsd:string"/>
<xsd:element minOccurs="0" name="IntLiquidationAcct" type="xsd:string"/>
<xsd:element minOccurs="0" name="IntLiquidationCcy" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="LinktoLimitYN" type="xsd:string"/>
<xsd:element minOccurs="0" name="gALTACCTTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mALTACCTTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="AltAcctType" type="xsd:string"/>
<xsd:element minOccurs="0" name="AltAcctNo" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gJOINTHOLDER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mJOINTHOLDER">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="JointHolderId" type="xsd:string"/>
<xsd:element minOccurs="0" name="JointRelationCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgJOINTNOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="RelationNotes">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="RelationNotes" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="SingleLimitYN" type="xsd:string"/>
<xsd:element minOccurs="0" name="DebitCard" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>