StewardBankIndigoApp/RemoteFiles/xsd_3.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/GETACCTBAL" version="1.0">

<xsd:complexType name="GETACCTBALType">
<xsd:sequence>
<xsd:element minOccurs="0" name="gGETACCTBALDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mGETACCTBALDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="SelAccount" type="xsd:string"/>
<xsd:element minOccurs="0" name="Account" type="xsd:string"/>
<xsd:element minOccurs="0" name="Balance" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="AccountName" type="xsd:string"/>
<xsd:element minOccurs="0" name="Category" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>