StewardBankSmallWorldRemitapp/SmallWorldRemitWSDL_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SmallWorldRemitWSDL/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SmallWorldRemitWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="getTransactionExportTransactions">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="arg0" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          	<xsd:element name="arg1" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          	<xsd:element name="arg2" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="getTransactionExportTransactionsResponse">
        <xsd:complexType>
        	<xsd:sequence>
				<xsd:element name="return" type="tns:return"/>
        	</xsd:sequence>

        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="return">
      	<xsd:sequence>
      		<xsd:element name="agentCode" type="xsd:double" maxOccurs="1" minOccurs="0"/>
      		<xsd:element name="beneficiary" type="tns:TransactionImportClient" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="creationDate" type="xsd:date" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="deliveryMethod" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="fixedFee" type="xsd:double" maxOccurs="1" minOccurs="0"/>
      		<xsd:element name="folioNumber" type="tns:folionumber"
      			maxOccurs="1" minOccurs="1" />
      		<xsd:element name="mtn" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="payerLocationCode"
      			type="tns:payerlocationcode" maxOccurs="1" minOccurs="1" />
      		<xsd:element name="payoutCountry" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="payoutCurrency" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="payoutPrincipal" type="xsd:double" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="sender" type="tns:TransactionImportClient" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="sendingCountry" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="serviceMessage" type="tns:servicemsg"
      			maxOccurs="1" minOccurs="0" />
      		<xsd:element name="totalSale" type="xsd:double" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="variableFee" type="xsd:double" maxOccurs="1" minOccurs="0"/>
      		<xsd:element name="agentName" type="tns:agentname"
      			maxOccurs="1" minOccurs="0" />
      		<xsd:element name="amountOwed" type="xsd:double"
      			maxOccurs="1" minOccurs="1" />
      		<xsd:element name="deliveryFee" type="xsd:double"
      			maxOccurs="1" minOccurs="1" />
      		<xsd:element name="otherfee" type="xsd:double" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="payerMtn" type="xsd:string" />
      		<xsd:element name="pinNumber" type="tns:pinnumber"
      			maxOccurs="1" minOccurs="0" />
      		<xsd:element name="rate" type="xsd:double" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="settlementAmount" type="xsd:double" maxOccurs="1" minOccurs="1"/>
      		<xsd:element name="settlementCurrency" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TransactionImportClient">
      	<xsd:sequence>
      		<xsd:element name="originalId" type="xsd:int"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="clientId" type="xsd:int" maxOccurs="8"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="firstLastName" type="tns:firstlastname"
      			maxOccurs="1" minOccurs="0" />
      		<xsd:element name="firstName" type="tns:firstname"
      			maxOccurs="1" minOccurs="1" />
      		<xsd:element name="secondLastName"
      			type="tns:secondlastname" maxOccurs="4" minOccurs="0" />
      		<xsd:element name="secondName" type="tns:secondname"
      			maxOccurs="1" minOccurs="0" />
      		<xsd:element name="address" type="tns:address"
      			maxOccurs="1" minOccurs="1" />
      		<xsd:element name="bankAccountNumber"
      			type="tns:bankaccountnumber" maxOccurs="3" minOccurs="1" />
      		<xsd:element name="bankAccountType" type="xsd:string"
      			maxOccurs="2" minOccurs="1" />
      		<xsd:element name="bankBranchName" type="xsd:string" />
      		<xsd:element name="bankId" type="xsd:int"
      			maxOccurs="2" minOccurs="1" />
      		<xsd:element name="bankName" type="tns:bankname"
      			maxOccurs="2" minOccurs="1" />
      		<xsd:element name="bankCode" type="tns:bankcode"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="bankBranchId" type="xsd:int"
      			maxOccurs="5" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="bankBranchName" type="xsd:string"
      			maxOccurs="2" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="bankBranchCode"
      			type="tns:bankbranchcode" maxOccurs="2"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="bankBic" type="tns:bankbic"
      			maxOccurs="3" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="bankIban" type="tns:bankiban"
      			maxOccurs="3" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="bankRoutingNumber"
      			type="tns:bankroutingnumber" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="banks"
      			type="tns:TransactionImportClientBank">
      		</xsd:element>
      		<xsd:element name="city" type="tns:city" maxOccurs="1"
      			minOccurs="0" />
      		<xsd:element name="state" type="tns:state" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="country" type="tns:country"
      			maxOccurs="1" minOccurs="1" />
      		<xsd:element name="streetType" type="xsd:string"
      			maxOccurs="7" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="streetName" type="tns:streetname"
      			maxOccurs="7" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="streetNumber" type="tns:streetnumber"
      			maxOccurs="7" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="Gender" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="taxCode" type="tns:taxcode"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="mobilePhoneCountry" type="xsd:string" />
      		<xsd:element name="mobilePhoneNumber"
      			type="tns:mobilephonenumber" maxOccurs="1" minOccurs="0" />
      		<xsd:element name="Email" type="tns:Email" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="countryOfBirth"
      			type="tns:countryofbirth" maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="stateOfBirth" type="tns:stateofbirth"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="cityOfBirth" type="tns:cityofbirth"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="dateOfBirth" type="tns:dateofbirth"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="nationality" type="tns:nationality"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="idType" type="xsd:string" maxOccurs="4"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="Ssn" type="tns:ssn" maxOccurs="4"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="occupationid" type="xsd:int"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="idNumber" type="tns:idnumber"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="idIssuedBy" type="tns:idissuedby"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>

      		<xsd:element name="idExpirationDate" type="xsd:time"
      			maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="idIssueCountry"
      			type="tns:idissuecountry" maxOccurs="4" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="idissueDate" type="xsd:time" maxOccurs="4" minOccurs="0"></xsd:element>
      		<xsd:element name="ids"
      			type="tns:TransactionImportClientId">
      		</xsd:element>
      		<xsd:element name="employerOrigibalId" type="xsd:int"
      			maxOccurs="6" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="employerId" type="xsd:int"
      			maxOccurs="6" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="employeeType" type="xsd:string"
      			maxOccurs="6" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="changeDate" type="xsd:time"></xsd:element>
      		<xsd:element name="type" type="xsd:string" maxOccurs="1"
      			minOccurs="1" />

      		<xsd:element name="zip" type="tns:zip" maxOccurs="1"
      			minOccurs="0" />

      	</xsd:sequence>
      </xsd:complexType>
    <xsd:element name="acknowledgeTransactionExport">
    <xsd:complexType>
      <xsd:sequence>
      	<xsd:element name="arg0" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      	<xsd:element name="arg1" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	<xsd:element name="arg2" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element name="acknowledgeTransactionExportResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="return" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="acknowledgeTransactionsExport">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="arg0" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            			<xsd:element name="arg1" type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg2" type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg2"
            				type="xsd:string" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="acknowledgeTransactionsExportResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="return" type="xsd:boolean"></xsd:element>
            			<xsd:element name="reurn"
            				type="xsd:boolean">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="updateTransactionsExport">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="arg0"
            				type="tns:TransactionExportConfirmation">
            			</xsd:element>
            			<xsd:element name="arg0" type="tns:TransactionExportConfirmation">
            			</xsd:element>
            			<xsd:element name="arg1" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="arg2" type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="updateTransactionsExportResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="return"
            				type="tns:TransactionExportConfirmation">
            			</xsd:element>
            			<xsd:element name="return"
            				type="tns:TransactionExportConfirmation">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
          

          
            <xsd:simpleType name="message">
            	<xsd:restriction base="xsd:string">
            	 <xsd:maxLength value="300"/>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="addTransactionNote">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="arg0" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            			<xsd:element name="arg1"
            				type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg2"
            				type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg3"
            				type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="addTransactionNoteResponse">
            	<xsd:complexType>
            		<xsd:sequence>

                        <xsd:element name="return" type="xsd:boolean"></xsd:element>
                    </xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
           

            <xsd:element name="updateTransactionExport">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="arg0"
            				type="tns:TransactionExportConfirmation">
            			</xsd:element>
            			<xsd:element name="arg1" type="tns:TransactionExportConfirmation"
            				maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg2" type="xsd:string"
            				maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg3"
            				type="xsd:string" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="updateTransactionExportResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="return" type="xsd:boolean"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
                      <xsd:complexType name="TransactionExportConfirmation">
            	<xsd:sequence>
            		<xsd:element name="evenDate" type="xsd:date"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="message" type="tns:message"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="mtn" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="payoutDate" type="xsd:date" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="StatusCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="Reference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>

                      <xsd:element name="getMTNByFolio">
                      	<xsd:complexType>
                      		<xsd:sequence>
                      			<xsd:element name="arg0"
                      				type="xsd:string" maxOccurs="1" minOccurs="1">
                      			</xsd:element>
                      			<xsd:element name="arg1"
                      				type="xsd:string" maxOccurs="1" minOccurs="1">
                      			</xsd:element>
                      			<xsd:element name="arg2"
                      				type="xsd:string" maxOccurs="1" minOccurs="1">
                      			</xsd:element>
                      		</xsd:sequence>
                      	</xsd:complexType>
                      </xsd:element>
                      <xsd:element name="getMTNByFolioResponse">
                      	<xsd:complexType>
                      		<xsd:sequence>

                      			<xsd:element name="return"
                      				type="xsd:string">
                      			</xsd:element>
                      		</xsd:sequence>
                      	</xsd:complexType>
                      </xsd:element>
  
  

    <xsd:simpleType name="firstname">
      	<xsd:restriction base="xsd:string">
           <xsd:maxLength value="50"/>
              <xsd:minLength value="2"/>
        </xsd:restriction>
   </xsd:simpleType>

 	<xsd:simpleType name="secondname">
  		<xsd:restriction base="xsd:string">
      	<xsd:maxLength value="50"/>
    	</xsd:restriction>
  	</xsd:simpleType>

    <xsd:simpleType name="firstlastname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="secondlastname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="city">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="zip">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="state">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="100"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="country">
    	<xsd:restriction base="xsd:string">
    	<xsd:length value="3"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="streetnumber">
       <xsd:restriction base="xsd:string">
       <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="taxcode">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="mobilephonenumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="100"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Email">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="100"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="countryofbirth">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="3"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stateofbirth">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="100"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cityofbirth">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="dateofbirth">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="12"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nationality">
    	<xsd:restriction base="xsd:string">
    	<xsd:length value="3"/>
    	</xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="ssn">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="60"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idnumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="60"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idissuedby">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idissuecountry">
    	<xsd:restriction base="xsd:string">
    	<xsd:length value="3"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TransactionImportClientId">
    	<xsd:sequence>
    		<xsd:element name="originalId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="clientIdId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="idType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="idNumber" type="tns:tidnumber"
    			maxOccurs="1" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="idIssuedBy" type="tns:tidissuedby"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="idExpirationDate" type="xsd:time" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="idIssueCountry"
    			type="tns:tidissuecountry" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="idIssueState" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="isIssueDate" type="xsd:time" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="changeDate" type="xsd:time" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="bankname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="55"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankcode">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="15"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankroutingnumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:length value="9"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankiban">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="35"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankbic">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="8"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankbranchcode">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="12"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankaccountnumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="60"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TransactionImportClientBank">
    	<xsd:sequence>
    		<xsd:element name="orginalId" type="xsd:int" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="clientBankId" type="xsd:int"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankAccountType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="bankId" type="xsd:int" maxOccurs="3" minOccurs="0"></xsd:element>
    		<xsd:element name="bankName" type="tns:tbankname"
    			maxOccurs="3" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankCode" type="tns:tbankcode"
    			maxOccurs="3" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankBranchId" type="xsd:int" maxOccurs="2" minOccurs="0"></xsd:element>
    		<xsd:element name="bankBranchName"
    			type="tns:tbankbranchname" maxOccurs="1" minOccurs="1">
    		</xsd:element>
    		<xsd:element name="bankBranchCode"
    			type="tns:tbankbranchcode" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankBic" type="tns:tbankbic"
    			maxOccurs="unbounded" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankIban" type="tns:tbankiban"
    			maxOccurs="unbounded" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankRoutingNumber"
    			type="tns:tbankroutingnum" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="bankAccountNumber"
    			type="tns:tbankaccountnum" maxOccurs="unbounded" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="changeDate" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="providerRepCode" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="providerLocationCode " type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="bankAccountPrefix" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="address">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="255"/>
    	</xsd:restriction>
    	
    </xsd:simpleType>

    <xsd:simpleType name="streetname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="255"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="55"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankcode">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="15"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankbranchname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="100"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankbranchcode">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="12"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankbic">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="8"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankiban">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="35"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankroutingnum">
    	<xsd:restriction base="xsd:string">
    	<xsd:length value="9"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tbankaccountnum">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="60"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tidissuecountry">
    	<xsd:restriction base="xsd:string">
    	<xsd:length value="3"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tidnumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="60"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tidissuedby">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="50"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="folionumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="25"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="servicemsg">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="300"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="payerlocationcode">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="25"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="agentname">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="30"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="pinnumber">
    	<xsd:restriction base="xsd:string">
    	<xsd:maxLength value="30"/>
    	</xsd:restriction>
    </xsd:simpleType>
</xsd:schema>