StewardBankIndigoApp/indigo.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.  --><!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.  --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="T24WebServicesImplService" targetNamespace="http://temenos.com/stewardbank" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://temenos.com/stewardbank" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="T24WebServicesImplPortBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
<types>
<xsd:schema>
<xsd:import namespace="http://temenos.com/stewardbank" schemaLocation="RemoteFiles/xsd_1.xsd"/>
</xsd:schema>
<xsd:schema/>
<xsd:schema/>
<xsd:schema/>
<xsd:schema/>
<xsd:schema/>
<xsd:schema/>
<xsd:schema/>
</types>
<message name="AmendCard">
<part element="tns:AmendCard" name="parameters"/>
</message>
<message name="AmendCardResponse">
<part element="tns:AmendCardResponse" name="parameters"/>
</message>
<message name="AmendCard_Validate">
<part element="tns:AmendCard_Validate" name="parameters"/>
</message>
<message name="AmendCard_ValidateResponse">
<part element="tns:AmendCard_ValidateResponse" name="parameters"/>
</message>
<message name="ReverseCharges">
<part element="tns:ReverseCharges" name="parameters"/>
</message>
<message name="ReverseChargesResponse">
<part element="tns:ReverseChargesResponse" name="parameters"/>
</message>
<message name="ReverseCharges_Validate">
<part element="tns:ReverseCharges_Validate" name="parameters"/>
</message>
<message name="ReverseCharges_ValidateResponse">
<part element="tns:ReverseCharges_ValidateResponse" name="parameters"/>
</message>
<message name="CardCharges">
<part element="tns:CardCharges" name="parameters"/>
</message>
<message name="CardChargesResponse">
<part element="tns:CardChargesResponse" name="parameters"/>
</message>
<message name="CardCharges_Validate">
<part element="tns:CardCharges_Validate" name="parameters"/>
</message>
<message name="CardCharges_ValidateResponse">
<part element="tns:CardCharges_ValidateResponse" name="parameters"/>
</message>
<message name="AccountDetails">
<part element="tns:AccountDetails" name="parameters"/>
</message>
<message name="AccountDetailsResponse">
<part element="tns:AccountDetailsResponse" name="parameters"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="AmendCard">
<input message="tns:AmendCard" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/AmendCardRequest"/>
<output message="tns:AmendCardResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/AmendCardResponse"/>
</operation>
<operation name="AmendCard_Validate">
<input message="tns:AmendCard_Validate" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/AmendCard_ValidateRequest"/>
<output message="tns:AmendCard_ValidateResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/AmendCard_ValidateResponse"/>
</operation>
<operation name="ReverseCharges">
<input message="tns:ReverseCharges" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/ReverseChargesRequest"/>
<output message="tns:ReverseChargesResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/ReverseChargesResponse"/>
</operation>
<operation name="ReverseCharges_Validate">
<input message="tns:ReverseCharges_Validate" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/ReverseCharges_ValidateRequest"/>
<output message="tns:ReverseCharges_ValidateResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/ReverseCharges_ValidateResponse"/>
</operation>
<operation name="CardCharges">
<input message="tns:CardCharges" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/CardChargesRequest"/>
<output message="tns:CardChargesResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/CardChargesResponse"/>
</operation>
<operation name="CardCharges_Validate">
<input message="tns:CardCharges_Validate" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/CardCharges_ValidateRequest"/>
<output message="tns:CardCharges_ValidateResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/CardCharges_ValidateResponse"/>
</operation>
<operation name="AccountDetails">
<input message="tns:AccountDetails" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/AccountDetailsRequest"/>
<output message="tns:AccountDetailsResponse" wsam:Action="http://temenos.com/stewardbank/T24WebServicesImpl/AccountDetailsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="AmendCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmendCard_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseCharges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseCharges_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CardCharges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CardCharges_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
<soap:address location="http://192.168.1.233:8080/stewardbank/services"/>
</port>
</service>
</definitions>